@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* <h1 class="title is-1">Title 1</h1>
<h2 class="title is-2">Title 2</h2>
<h3 class="title is-3">Title 3</h3>
<h4 class="title is-4">Title 4</h4>
<h5 class="title is-5">Title 5</h5>
<h6 class="title is-6">Title 6</h6> */

body {
    margin: auto;
    font-family: 'Zen Dots', cursive;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9999;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

header {
    z-index: 9999;
}

header h1 {
    padding: 20px 0 15px 0;
    text-align: center;
    color: rgba(255, 255, 255, .3)!important;
    font-size: 100px !important;
    background-color: transparent;
    z-index: 9999;
}

h2.title.is-2 {
    padding: 40px 5px 5px 5px !important;
    text-align: center;
    color: white !important;
    font-size: 35px !important;
    margin-bottom: 10px;
}

h3.title.is-3 {
    font-size: 25px !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

input {
    width: 30% !important;
    min-width: 100px;
    border-radius: 4px;
    color: black;
    font-size: 20px;
    text-align: center;
    max-height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    outline-color: white;
    border-style: none;
}

input:hover {
    border: 1px solid rgba(10, 10, 10, 0.842);
}

button.button.is-primary {
    background-color: rgba(5, 5, 5, .5);
    color: white;
    height: 43px;
    border-color: rgba(5, 5, 5, .5);
}

button.button.is-primary:hover {
    background-color: rgba(5, 5, 5, .5);
    border-color: white;
}

#textarea,
#textarea2 {
    border-radius: 20px;
}

#skyMapTitle {
    padding-top: 5px;
}

#geoList,
#astroList,
#astroidList {
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px 5px;
    height: 360px;
}

#astroidList {
    height: 294px;
}

#geoList li,
#astroidList li {
    margin-top: 20px;
    border: none;
}

#dailyContainer {
    background-color: rgba(0, 0, 0, .8);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px 10px;
    min-height: 795px;
    /* width: 150%; */
}

#dailyImgContainer {
    width: 100%;
}

#dailyContainer button {
    margin: 20px 10px 15px 10px;
}

#dailyTitle {
    /* background-color: rgba(0, 0, 0, .8); */
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px 5px;
}

#dailyDesc {
    font-size: 12px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}

.dailyImage,
.dailyPhoto {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: -100; */
    /* background-size: 1000% 1000%; */
}

#skymap-iframe {
    border: 30px solid rgb(10, 10, 10, 10%) !important;
    border-radius: 50%;
    width: 600px !important;
    height: 600px !important;
}

#av-skymap {
    /* background: rgb(9, 9, 9) !important;
    border: 30px solid rgb(26, 21, 21) !important;
    border-radius: 1000px; */
}

#gallery {
    width: 100%;
    height: 235px;
    padding: 20px;
    margin: 0;
}

#gallery img {
    padding: 5px;
}

#backgroundVideo {
    object-fit: cover;
    width: 200%;
    height: 160%;
    position: fixed;
    top: -5px;
    left: -800px;
    z-index: -100;
    /* background-size: 1000% 1000%; */
}


}
@media screen and (max-width: 1300px) and (min-width: 901px) {
    #backgroundVideo {
        width: 200%;
        height: 125%;
        top: -175px;
        left: -700px;
    }
    
    header h1 {
        font-size: 90px !important;
    }
}
@media screen and (max-width: 900px) and (min-width: 401px) {
    #backgroundVideo {
        width: 350%;
        height: 125%;
        top: -175px;
        left: -800px;
    }
    
    header h1 {
        font-size: 50px !important;
    }
}
@media screen and (max-width: 400px) {
    #backgroundVideo {
        width: 600%;
        height: 125%;
        top: -175px;
        left: -600px;
    }
    
    header h1 {
        font-size: 30px !important;
    }
}