@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/* <h1 class="title is-1">Title 1</h1>
<h2 class="title is-2">Title 2</h2>
<h3 class="title is-3">Title 3</h3>
<h4 class="title is-4">Title 4</h4>
<h5 class="title is-5">Title 5</h5>
<h6 class="title is-6">Title 6</h6> */

body {
    margin: auto;
    font-family: 'Zen Dots', cursive;
    /* z-index: 999; */
}


/* .background-black {
    background-color: black;
    z-index: 1;
} */

main {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9999;
    text-align: center;
    /* background: rgba(22, 23, 23, .2); */
}

header {
    z-index: 9999;
}

header h1 {
    padding: 30px 0 15px 0;
    text-align: center;
    color: rgba(255, 255, 255, .3) !important;
    font-size: 100px !important;
    background-color: transparent;
    z-index: 9999;
}

h2 {
    padding: 20px;
    text-align: center;
    color: white !important;
    font-size: 40px !important;
}

input {
    width: 20% !important;
    min-width: 100px;
    background: rgba(250, 248, 248, 0.755) !important;
    border: 1px solid rgba(0, 0, 0, 0.311);
    border-radius: 4px;
    color: #363636;
}

#textarea {
    border: 2px solid black;
    min-height: 600px;
}

#userInput {
    text-align: center;
    max-height: 200px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#geoList {
    border: 1px solid grey;
}

#image {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    /* background-size: 1000% 1000%; */
}

#skymap-iframe {
    /* background: rgb(9, 9, 9) !important; */
    border: 30px solid rgb(10, 10, 10, 10%) !important;
    border-radius: 50%;
    width: 600px !important;
    height: 600px !important;
}

#av-skymap {
    /* background: rgb(9, 9, 9) !important;
    border: 30px solid rgb(26, 21, 21) !important;
    border-radius: 1000px; */
}


/* @media screen and (max-width: 1300px) and (min-width: 801px) {
    #image {
        width: 120%;
        height: 140%;
        top: -200px;
        left: -70px;
    }
}
@media screen and (max-width: 800px) and (min-width: 401px) {
    #image {
        width: 117%;
        height: 154%;
        top: -200px;
        left: -70px;
    }
}
@media screen and (max-width: 400px) {
    #image {
        width: 244%;
        height: 130%;
        top: -155px;
        left: -70px;
    }
} */